/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.profile-container {
  max-width: 600px;
  margin: 60px auto;
  height: 90vh;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #444;
  font-family: Outfit;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-info p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  font-family: Inter;
  
}

.profile-info strong {
  color: #205295;
  font-size: 15px;
  font-family: "Outfit", Sans-Serif;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ffffffcc;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 9999;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e0e0e0;
}


 */
