body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.emailicon {
  position: relative;
}
.emailgif {
  width: 100px;
  height: 100px;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-family: Inter;
    text-align: center;
}
p {
  font-family: Calibri;
}
input {
    display: flex;
    align-self: center;
    width: 100%;
    height: 15px;
    padding: 14px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;`n    box-sizing: border-box;
}

.infomsg {
  text-align: center;
  text-style: bold;
  
    
}

button {
    text-align: center;
    width: 100%;
    height: 10px;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;`n    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button+button {
    margin-top: 5px;

}

button:hover {
    background-color: #0056b2;
}
.separator {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    margin: 10px 0;
}
#loginreset {
    display: flex;
    text-align: center;
    justify-content: center;
}
.loginbuttonverify {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #000000 !important;
  color: #fff;
}
#loginreset {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Inter;
}

.loginbuttonverify {
  font-family: Inter;
  font-weight: bold;
}
.inline1 , .inline2 {
  display: inline-block;
}
